<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  

<div class="sidebar">
  <h3>Menu</h3>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/ore">Straordinari</a></li>
    <li><a href="/impostazioni">Impostazioni</a></li>
    <li><a href="/firma">Firma</a></li>
    <li><a href="/invia">Invia PDF</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>


  <div class="main-content">
    <div class="card">
      <h1>Ciao {{ nome }}</h1>
      <p>Benvenuto nella tua area personale.</p>
    </div>
  </div>
</body>
</html>