<script>
  document.querySelector("form").addEventListener("submit", async (e) => {
    e.preventDefault();

    const email = document.querySelector("[name='email']").value;
    const password = document.querySelector("[name='password']").value;

    const res = await fetch("/session", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ email })
    });

    if (res.ok) {
      window.location.href = "/home";
    } else {
      alert("Login fallito");
    }
  });
</script>
